.Form {
  width: 100%;
  height: 100%;
}

.GraphNodeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: max-content;
  height: 40vh;
}

.GraphNodeWeels {
  width: 45%;
  height: 100%;
}

.GraphNodeForm {
  width: 45%;
  height: 100%;
}
