@import "tailwindcss";

body {
  position: relative;
  height: auto !important;
}
/* 
body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/bgLayout.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
  filter: opacity(0.155);
} */
